django == "5.1.5"
mysqlclient == "2.2.7"
djangorestframework == "3.15.2"
drf-nested-routers == "*"
django-filter == "*"
djoser == "*"
djangorestframework-simplejwt == "*"
pillow == "*"
django-cors-headers == "*"
django-templated-mail == "*"
redis == "*"
django-debug-toolbar == "*"
celery == "*"
flower == "*"
django-redis == "*"
whitenoise == "*"
gunicorn == "*"